/* Burger bar styles */

.humburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  z-index: 201;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 900px) {
  .header-block {
    position: relative;
    width: 100%;
  }
  .humburger {
    display: block;
  }

  .humburger.activemenu .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.activemenu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .humburger.activemenu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-ul {
    position: absolute;
    left: -150%;
    /* top: 100px; */
    top: 0;
    /* gap: 0; */
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background: rgb(20, 59, 33);
    background: linear-gradient(
      0deg,
      rgba(20, 59, 33, 1) 0%,
      rgba(16, 72, 45, 1) 37%,
      rgba(13, 79, 52, 1) 51%,
      rgba(6, 100, 72, 1) 80%
    );
    z-index: 200;
  }

  .nav-li {
    margin: 16px 0;
  }

  .nav-ul.activemenu {
    left: 0;
  }

  .nav-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: relative;
  }
}

/* main section - organisation information */

@media (max-width: 900px) {
  .main-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
  }
  /* .main-text-box {
    max-width: 300px;
    width: 100%;
  } */
  .main-text {
    max-width: 300px;
    width: 100%;
    padding: 0 10px;
  }

  .main-title {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    margin-bottom: 30px !important;
  }
  .main-text {
    font-size: 14px !important;
  }
}

/* slider */

@media (max-width: 900px) {
  .container {
    width: 300px !important;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
  }
  .swipper {
    max-width: 300px;
    width: 100%;
  }
  .slider-img {
    width: 250px !important;
  }
}

/* footer */

@media (max-width: 900px) {
  /* footer {
      width: 300px;
    }
    header {
      width: 300px;
      margin: 0;
    } */

  .footer-block {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .answer-box {
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 0 7px !important;
    font-size: 12px !important;
    line-height: 12px !important;
  }
  .question-btn {
    max-width: 300px;
    /* width: 100%; */
    height: 90px !important;
    font-size: 12px !important;
  }

  .fa-angle-down {
    font-size: 10px !important;
  }
  .bellow-section {
    max-width: 300px;
    width: 100%;
  }
}

/* second page - about us */
@media (max-width: 900px) {
  .question {
    width: 500px;
  }
  .question-answer {
    width: 300px;
  }
  .team {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .question {
    width: 300px !important;
    text-align: center;
  }
}

/* service page */
@media (max-width: 900px) {
  .services {
    grid-template-columns: 1fr !important;
    align-self: center;
    gap: 30px !important;
    margin-top: 0 !important;
  }
}

/* contact page */
@media (max-width: 900px) {
  .contact-box {
    flex-direction: column;
    gap: 40px;
  }
}
