/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Burger bar styles */

.humburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 35%;
  right: 20px;
  z-index: 201;
}

.bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: #5e5850;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100000;
}

@media (max-width: 1024px) {
  .header-block {
    position: relative;
    width: 100%;
  }
  .humburger {
    display: block;
  }

  .humburger.activemenu .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.activemenu .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .humburger.activemenu .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-ul {
    display: none !important;
    /* position: absolute;
    right: -150%;
    top: 100px; 
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background: rgb(20, 59, 33);
    background: linear-gradient(
      0deg,
      rgba(20, 59, 33, 1) 0%,
      rgba(16, 72, 45, 1) 37%,
      rgba(13, 79, 52, 1) 51%,
      rgba(6, 100, 72, 1) 80%
    );
    z-index: 200; */
  }

  .nav-li {
    margin: 40px 0;
    color: white;
  }
  .nav-a {
    font-size: 16px !important;
  }

  .nav-ul.activemenu {
    display: block !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    right: 0;
    position: fixed;
    height: 100%;
    width: 80%;
    padding: 50px 5px;
    opacity: 90%;
    top: 0;
    /* gap: 0; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* width: 100%; */
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #5a9e7c;
    color: white;

    z-index: 200;
  }
  .nav-a {
    font-size: 18px !important;
  }

  .nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: relative;
    position: static;
  }
}

/* main section - organisation information */

@media (max-width: 1024px) {
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
  }
  /* .main-text-box {
    max-width: 300px;
    width: 100%;
  } */
  .real-title {
    font-style: normal;
  }
  .main-text {
    /* max-width: 500px; */
    width: 100%;
    width: 100%;
    padding: 0 10px;
  }

  .main-title {
    max-width: 500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px !important;
    margin-bottom: 30px !important;
  }
  .main-text {
    font-size: 10px !important;
  }
}

/* slider */

@media (max-width: 1024px) {
  .swiper {
    max-width: 500px;
    width: 100%;
  }
  .slider-img {
    width: 350px !important;
  }
  .service-title {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  .container {
    width: 300px !important;
  }
  .swiper {
    max-width: 300px;
    width: 100%;
  }
  .slider-img {
    width: 250px !important;
  }
}
/* footer */

@media (max-width: 1024px) {
  /* footer {
      width: 300px;
    }
    header {
      width: 300px;
      margin: 0;
    } */

  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .answer-box {
    max-width: 500px;
    width: 100%;
    /* height: 100% !important; */
    padding: 0 7px !important;
    font-size: 12px !important;
    /* line-height: 18px !important; */
    -webkit-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
  }
  .question-btn {
    max-width: 500px;
    /* width: 100%; */
    /* height: 90px !important; */
    font-size: 12px !important;
  }
  .active-question .answer-box {
    height: 100% !important;
    padding: 20px !important;
  }

  .fa-angle-down {
    font-size: 10px !important;
  }
  .bellow-section {
    max-width: 500px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .answer-box {
    max-width: 300px;
    width: 100%;
  }
  .question-btn {
    max-width: 300px;
  }
  .bellow-section {
    max-width: 300px;
    width: 100%;
  }
}
/* second page - about us */
@media (max-width: 1024px) {
  .question {
    width: 500px;
    font-size: 16px !important;
    text-align: center !important;
  }
  .question-answer {
    width: 500px;
    font-size: 12px !important;
  }
  .our-vision {
    font-size: 12px !important;
  }
  .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }

  @media (max-width: 768px) {
    .team {
      width: 300px !important;
      display: flex !important;
      flex-direction: column;
      gap: 10px;
    }

    .team > * {
      width: 100%;
    }
  }

  .team1 {
    flex-direction: column;
    margin-bottom: 20px !important;
  }

  .modal-window {
    height: 100% !important;
    max-width: 90% !important;
  }
  .modal-container {
    padding: 12px 24px !important;
  }
  .name {
    font-size: 16px !important;
  }
  .person-profession {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .question {
    width: 300px !important;
  }
  .question-answer {
    width: 300px !important;
  }
}

/* service page */
@media (max-width: 1024px) {
  .services {
    /* grid-template-columns: 1fr !important; */
    -ms-grid-columns: 1fr 200px 1fr !important;
    grid-template-columns: 1fr 1fr !important;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 0 !important;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
    -ms-grid-row-align: center;
    align-self: center;
    gap: 30px !important;
    margin-top: 0 !important;
  }
  /* contact page */
  @media (max-width: 1024px) {
    .contact-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 40px;
    }
  }
}

/* all service pages */

@media (max-width: 1024px) {
  .mainText {
    font-size: 16px;
  }
  .image-container {
    width: 70%;
  }
  .ftr-left-block {
    padding-right: 10%;
  }
  .service1-section {
    /* width: 500px; */
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    gap: 30px;
  }
  .service1-block {
    width: 100% !important;
  }
  .service1-text {
    height: 100% !important;
    /* width: 500px; */
    width: 100% !important;
  }
  .question-block.active-question .answer-text {
    /* height: 200px !important;
  text-align: start; */
    height: 100% !important;
    padding: 20px !important;
    width: 100% !important;
  }
  .question-block.active-question .camp {
    height: 500px !important;
  }
  .registration-btn {
    width: 100% !important;
  }
  .fa-arrow-down {
    font-size: 14px !important;
  }
  .btn {
    font-size: 14px !important;
    text-align: left;
    padding-left: 5px !important;
    font-size: 14px;
  }
  .service1-ul1 {
    font-size: 14px;
    line-height: 20px;
  }
  .service1-title {
    font-size: 16px !important;
  }
  .service1-li {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  .service1-section {
    width: 100%;
  }
  .service1-text {
    width: 300px;
  }
  .ftr-left-block {
    padding-right: 20px;
  }
  .ftr-left-block {
    display: none;
  }
}

/* preschool gallery */
/* @media (max-width: 900px) {
  .section-gallery {
    flex-direction: column;
    gap: 50px;
  }
} */

@media (max-width: 768px) {
  .serviceSvg {
    display: none;
  }
  .svg {
    display: none;
  }
}
@media (max-width: 1024px) {
  .BtnTxt {
    font-size: 18px;
  }
  .contactBtn {
    padding: 0;
  }
  .contactBtn {
    background-color: transparent;
    text-transform: uppercase;
  }
  .active {
    /* border-right: 1px solid rgb(213, 213, 26); */
    border-bottom: 2px solid white;
  }
  .nav-a {
    color: white;
  }
  .serviceButton {
    width: 100%;
    padding: 18px;
  }
  .serviceBlock {
    /* max-width: 1140px;
    width: 100%; */
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 24px;
    z-index: 100;
  }
}
@media (max-width: 768px) {
  .person-img {
  }
  .teamMainBlock {
    flex-direction: column;
    gap: 24px;
  }
  .teamTitle {
    font-size: 20px;
  }
  .teamSubTitle {
    font-size: 18px;
  }
  .container {
    width: 500px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }
  .container {
    width: 100% !important;
    padding: 24px;
    height: 237px;
  }
  .test {
    width: 100% !important;
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .mainText {
    text-align: center;
    z-index: 100000 !important;
    position: relative;
    top: 20%;
    color: white;
    font-size: 16px;
  }
  .resText {
    text-align: center;
    position: relative;
    color: white;
    top: 30%;
    z-index: 100000 !important;
    font-size: 14px;
    line-height: 19px;
  }
  /* .ReadMoreButton {
    display: none;
  } */
  .ReadMoreButtonRes {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #5a9e7c;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 12px;
    border: #5a9e7c;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
  }
  .headerBlock {
    display: flex;
    align-items: center;
  }
  .overlayImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 60%; /* Black color with 50% opacity */
    z-index: 1;
    height: 100%;
  }

  .ftr-right-block {
    padding: 24px;
    align-items: start;
    justify-content: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-info {
    width: 60%;
  }
  .aboutUsSection {
    padding: 0px 12px;
  }
  .teamText {
    font-size: 16px;
  }
  .teamBlock {
    padding: 12px;
  }
  .teamLogoSvg {
    height: 100%;
    top: 0px;
  }
  .logo-mob {
    display: block;
    width: 120x;
    height: 120px;
  }
  .service-img {
    width: 100%;
    height: 250px;
  }
  .teamPhotos {
    width: 100%;
 
  }
}
