/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* styling nav bar */

@font-face {
  font-family: "NotoSansGeorgian";
  src: url("../fonts/fonts/NotoSansGeorgian-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f2f2f2;
  color: #5e5850;
  font-family: "NotoSansGeorgian";
}

/* Apply uppercase transformation only where needed */
.uppercase {
  text-transform: uppercase !important;
  font-feature-settings: "case" on;
}
.mainContainer {
  width: 100%;
  /* max-width: 1140px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subContainer {
  background-color: #e2e2e2;
  width: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 556px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 4.7%;
  padding-right: 4.7%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p {
  line-height: 20px;
}
/* Navigation Bar styles */

header {
  position: sticky;
  top: 0;
  z-index: 250;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 100000;
}
.header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  /* background: linear-gradient(
    0deg,
    rgba(20, 59, 33, 1) 0%,
    rgba(16, 72, 45, 1) 37%,
    rgba(13, 79, 52, 1) 51%,
    rgba(6, 100, 72, 1) 80%
  ); */
  /* background-color: #6a5251f3; */
  background: white;
  /* box-shadow: 0px 1px 10px rgba(45, 43, 43, 1); */
  padding: 10px 4.7%;
}

.nav-block {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  /* padding-left: 200px; */
}
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-title {
  color: white;
  font-size: 22px;
  width: 130px;
}

.logo-img {
  width: 70px;
  height: 70px;
  /* border-radius: 50%; */
  /* margin-right: 200px; */
  margin-left: 20px;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.logo-img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-a {
  font-size: 14px;
  /* color: rgb(228, 228, 156); */
  color: #5e5850;
  font-weight: 400px;
  padding: 10px;
  letter-spacing: 1px;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  transition: color 500ms ease 200ms, font-weight 300ms ease 200ms;
}
.active {
  /* border-right: 1px solid rgb(213, 213, 26); */
  border-bottom: 2px solid #5a9e7c;
  font-weight: 600;
}
.nav-a:hover {
  /* color: rgb(187, 170, 14); */
  color: #5e5850;
  font-weight: bold;
  transition-duration: 500ms;
}
.contactBtn {
  background-color: #53bc28;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 12px;
}
.BtnTxt {
  color: white !important;
  font-size: 14px;
  text-transform: uppercase;
}

/* Page - main page styles */

/* Maain - text - box - brief information about organisation */
/* Main page Team section */
.teamText {
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 500px;
  color: white;
  width: 900px;
  text-transform: uppercase;
}
.teamMainBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  /* margin-bottom: 80px; */
}
.teamBlock {
  position: relative;
  background-color: #3d3d3d;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 100 !important;
  display: flex;
  justify-content: center;
  /* position: absolute;
  top: 100; */
  width: 100%;
}
.teamSubBlock {
  /* position: relative; */
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamSection {
  max-width: 1440px;
  width: 100%;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-align: center;
  background-color: #f2f2f2;
  position: relative;
  z-index: 100;
}
.teamSvg {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: -100;
}
.teamSvgTop {
  width: 400px;
  height: 250px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -200;
}
.teamLogoSvg {
  right: 4.7%;
  top: 0;
  position: absolute;
  width: 400px;
  height: 125px;
}

.teamPhotoSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4.7%;

  /* position: relative; */
}
.test {
  width: 100%;
  z-index: 1000;
  transform: rotate(5deg);
  max-width: 1440px;
  height: 100%;
}
.teamPhotos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.teamTitle {
  color: #5a9e7c;
  font-size: 18px;
  font-weight: 500px;
}
.teamSubTitle {
  color: #5e5850;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
/* Main page about us style */
.aboutUs {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 34px;
  position: relative;
}
.aboutUsSection {
  width: 100%;
  max-width: 900px;
}
.aboutUsSvg {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  left: 0;
  bottom: -200px;
  transform: rotate(360deg); /* Rotate by 90 degrees */
  transform-origin: center center;
}
/* Mainpage serves block styles */
.serviceSection {
  background-color: #5a9e7c1a;
  /* opacity: 10%; */
  /* max-width: 1140px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* padding: 88px; */
  position: relative;
}
.serviceSvg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 0;
  max-width: 1440px;
  width: 100%;
}
.serviceBlock {
  /* max-width: 1140px;
  width: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2;
  gap: 48px;
  row-gap: 18px;
  margin-top: 24px;
  z-index: 100;
}
.serviceButton {
  width: 408px;
  background-color: white;
  border: 0.5px solid #5a9e7c66;
  border-radius: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #5a9e7c;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main page texts style */
.mainTitle {
  color: #38614c;
  font-size: 24px;
  line-height: 32px;
  z-index: 100;
  margin-top: 64px;
}
.mainText {
  color: #5e5850;
  text-transform: uppercase;
  font-weight: 500px;
  font-size: 40px;
  margin-bottom: 8px;
}
.subText {
  color: #5e5850;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500px;
  margin-bottom: 32px;
  font-size: 14px;
}
.copyRightText {
  color: #5e5850;
  font-size: 12px;
  line-height: 21px;
  font-weight: 500px;
}
.aboutUsText {
  color: #5e5850;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500px;
  margin-bottom: 32px;
  text-align: center;
}
.ReadMoreButton {
  background-color: #5a9e7c;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 12px;
  border: #5a9e7c;
  cursor: pointer;
  z-index: 1000;
}
.ReadMoreButtonRes {
  display: none;
}
.svg {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  height: 812.91px;
  /* transform: rotate(1.24deg); */
  top: 0px;
  left: 0;
  z-index: -10;
  /* background-color: #F7F7F7; */
}
.image-container {
  width: 50%;
}
.readMoreText {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5e5850;
  font-size: 18px;
  line-height: 25px;
  justify-content: end;
  margin-top: 48px;
  margin-bottom: 24px;
  z-index: 20000;
}
.main-text {
  margin-bottom: 30px;
  /* font-size: 18px; */
  font-size: 14px;
  color: #1f232b;
  letter-spacing: 0.5px;
  line-height: 20px;
  /* font-style: italic; */
}
.main-text-box {
  /* max-width: 550px; */
  width: 100%;
}

/* slider styles */
.swiper {
  /* max-width: 400px; */
  max-width: 850px;
  height: 450px;
  /* background-color: #eef1dd; */
  background-color: #cad1cc;
  width: 100%;
  /* height: 500px; */
  margin-bottom: 100px;
  border-radius: 12px;
  -webkit-box-shadow: 5px 20px 30px 0px rgba(54, 57, 55, 0.368);
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* font-size: 22px; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 35px;
}
.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.slider-block {
  width: 800px;
  height: 400px;
  background-color: #073914;
  -webkit-box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  color: #343a40;
  border-radius: 12px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* padding: 15px; */
  padding-bottom: 15px;
  padding-top: 10px;
  cursor: pointer;
  animation-duration: 300ms; /* Adds a smooth animation duration for any applied animations */

  /* Smooth transitions on transform for sliding effect */
  transition: transform 0.3s ease-in-out;
}
.slider-img {
  width: 700px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transition: transform 0.3s ease-in-out;
}
.slider-img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

/* friquently asked questions */

.question-btn {
  width: 900px;
  /* width: 100%; */
  height: 100%;
  border: none;
  border-bottom: 2px solid #073914;
  border-right: 2px solid #073914;
  border-radius: 9px;
  cursor: pointer;
  color: #073914;
  /* font-weight: bolder; */
  font-size: 14px;
  letter-spacing: 1px;
  /* box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914,
    2px 4px 8px 0px #073914, 2px 4px 16px 0px #073914; */
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914;
  box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914;
  position: relative;
  text-align: left;
  font-style: italic;
}

.fa-angle-down {
  position: absolute;
  right: 10px;
  font-size: 20px;
}

.answer-box {
  background-color: #073914;
  color: #eef1dd;
  padding: 0 15px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: center; */
  height: 0;
  /* transition: 0.5s ease-out; */
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  border: 1px solid #eef1dd;
  border-radius: 9px;
  margin-bottom: 10px;
  text-align: left;
}
/* .question-box */
.active-question .answer-box {
  height: 100%;
  padding: 20px;
  text-align: start;
}

.active-question {
  display: block;
}

.bellow-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}
.link {
  color: white;
  margin-left: 10px;
  border-bottom: 1px solid white;
  font-style: italic;
}

/* Second page - about us */

/* question about organisation plans and aims*/
.aboutSection {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
}
.AboutUsContainer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 4.7%;
}
.aboutUsSectionTitle {
  color: #5e5850;
  text-transform: uppercase;
  font-weight: 500px;
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: center;
}
.question {
  font-size: 22px;
  color: #073914;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 30px;
  padding: 5px;
  border-bottom: 1px solid #073914;
  width: 450px;
  margin-top: 50px;
}
/* h2.question:nth-child(1) {
  margin-top: 100px;
} */
.question-answer {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 800px;
  width: 100%;
  line-height: 20px;
}

/* our-vision style */
.our-vision {
  margin-bottom: 12px;
  font-size: 16px;
}
.vision-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: italic;
}
.fa-heart {
  color: #073914;
  margin-right: 10px;
}
/* team members */
.teamContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4.7%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px;
  max-width: 1440px;
  width: 100%;
}
.team1 {
  display: flex;
  margin-bottom: 100px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.person {
  /* background-color: #eef1dd85; */
  background-color: #cad1cc;
  -webkit-box-shadow: 5px 20px 30px 0px rgba(54, 57, 55, 0.368);
  box-shadow: 5px 20px 30px 0px rgba(54, 57, 55, 0.368);
  max-width: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.person-img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 150px;
  height: 150px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 10px;
}
.person-img:hover {
  /* width: 155px;
  height: 155px; */
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.name {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: normal;
  color: #38614c;
}
.subName {
  font-size: 16px;
  color: #5e5850;
  line-height: 25px;
  font-weight: normal;
}

.person-name {
  font-size: 14px;
  text-align: center;
  color: #073914;
  /* background-color: #eef1dd; */
  background-color: #cad1cc;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 9px;
  border: 1px solid #073914;
  cursor: pointer;
  width: 100px;
  padding: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
  margin-top: 10px;
}

.person-name:hover {
  color: #eef1dd;
  background: #073914;
  border: 1px solid #eef1dd;
}
.person-profession {
  font-size: 24px;
  color: #38614c;
  font-weight: normal;
}
.person-title {
  max-width: 400px;
  width: 100%;
}
.person-span {
  width: 100px;
  height: 1px;
  background-color: #066448;
  margin-bottom: 10px;
}
.person-text {
  color: #343a40;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  /* line-height: 20px; */
}

/* აქ ვტესტავ modal-window  */
.modal-window {
  max-width: 60%;
  position: fixed;
  left: 50%;
  top: 55%;
  width: 100%;
  /* height: 650px; */
  max-height: calc(100vh - 110px);
  overflow-y: auto;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 1200;
  /* display: none; */
}

.modal-container {
  /* background-color: #eef1dd; */
  padding: 29px 64px;
  /* border: 1px solid #073914; */
  position: relative;
  /* left: 0; */
}
.personSvg {
  position: absolute;
  top: 0;
  right: 0;
}

.uska-modal,
.nino-modal,
.khatia-modal,
.mariam-modal,
.keti-modal {
  display: none;
}
.person-bio {
  color: #073914;
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
}
.fa-circle-xmark {
  /* position: fixed; */
  color: #073914;
  font-size: 22px;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
.fa-circle-xmark:hover {
  color: black;
}

/* active-window - mondal-window- team members  */
.overlay {
  background-color: #e2e2e2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
/* .modal-window {
  padding: 20px 15px;
  -webkit-box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914,
    2px 4px 8px 0px #073914, 2px 4px 16px 0px #073914;
  box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914,
    2px 4px 8px 0px #073914, 2px 4px 16px 0px #073914;
} */
.image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* justify-content: space-between; */
}
.modal-img {
  border-radius: 9px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 120px;
  height: 120px;
  -webkit-box-shadow: 0px 1px 2px 0px #525355, 1px 2px 4px 0px #545855,
    2px 4px 8px 0px #4a504b, 2px 4px 16px 0px #525854;
  box-shadow: 0px 1px 2px 0px #525355, 1px 2px 4px 0px #545855,
    2px 4px 8px 0px #4a504b, 2px 4px 16px 0px #525854;
  /* box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914,
    2px 4px 8px 0px #073914, 2px 4px 16px 0px #073914; */
}

.personal-ul {
  margin-top: 24px;
}
.person-li {
  margin-bottom: 5px;
  font-size: 12px;
  color: #5e5850;
  line-height: 23px;
  display: flex;
  gap: 24px;
}

.person-experience {
  font-size: 14px;
  font-style: italic;
  color: #073914;
  border-bottom: 1px solid #073914;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

/* Pages 3 - our s */
/* service page styling */

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Defines the column structure */
  gap: 80px; /* Sets the space between grid items */
  align-items: start; /* Ensures grid items are aligned to the top */
}

.service-block {
  background-color: #073914;
  -webkit-box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  color: #343a40;
  border-radius: 12px;
  margin-bottom: 60px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* padding: 15px; */
  padding-bottom: 15px;
  padding-top: 10px;
  cursor: pointer;
}
.service-img {
  /* width: 300px;
  height: 250px; */
  width: 250px;
  /* width: 100%; */
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.service-img1 {
  width: 100%;
}
.service-img:hover {
  opacity: 80%;
}
.service-block:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.service-title {
  color: #eef1dd;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 5px;
}
.service-title:hover {
  color: rgb(187, 170, 14);
}

.servive-page {
  font-size: 16px;
  position: fixed;
  top: 100px;
  border-bottom: 1px solid black;
  color: black;
  font-style: italic;
  font-weight: bolder;
  line-height: 20px;
}

/* styling section-1 */

/* service-1 page */

.registration-btn {
  /* 
  background-color: #cad1cc; */
  border-radius: 12px;
  color: #073914;
  border: 1px solid #073914;
  opacity: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
}
.registration-btn:hover {
  background-color: #073914;
  color: #eef1dd;
}
.const-btn {
  max-width: 250px;
  width: 100%;
  padding: 5px;
}
.main-title {
  font-size: 24px;
  font-weight: bolder;
  /* color: #073914; */
  color: #4b2624;
  margin-bottom: 50px;
  border-bottom: 2px solid #4b2624;
  padding: 10px;
  text-align: center;
  margin-top: 80px;
  letter-spacing: 1px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
.service1-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
}
.serviceMainTitle {
  color: #38614c;
  font-size: 24px;
  line-height: 56px;
  z-index: 100;
}
.serviceNavigation {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #38614c;
}
.service1-block {
  width: 50%;
}
.service1-text {
  /* background-color: #eef1dd; */
  background-color: #e2e2e2;
  padding: 15px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  /* max-width: 500px; */
  width: 50%;
  /* height: 600px; */
  height: 100%;
}
.service1-title {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 30px;
  border-bottom: 1px solid #073914;
  padding-bottom: 10px;
  text-align: center;
}
.fa-arrow-down {
  font-size: 22px;
  position: absolute;
  right: 5px;
  margin-left: 5px;
}

.service1-li {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 15px;
}
.service1-ul1 {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
}

.fa-circle-check {
  margin-right: 10px;
  color: #073914;
  margin-left: 30px;
  font-size: smaller;
}
.fa-circle {
  margin-right: 15px;
  color: #073914;
  font-size: smaller;
}

/* service 4 - meeting in the circle */
.circle-answer {
  margin-bottom: 15px;
  max-width: 500px;
  width: 100%;
  font-size: 16px;
}

.circle-question {
  font-size: 18px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: bold;
}

/* accordeon styles for sevice pages */

.btn {
  position: relative;
  background-color: #5a9e7c;
  max-width: 400px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 9px 9px 0 0;
  padding: 10px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
}

.first {
  opacity: 100%;
}

.second {
  opacity: 98%;
}

.third {
  opacity: 96%;
}
.forth {
  opacity: 94%;
}
.fifth {
  opacity: 92%;
}
.sixth {
  opacity: 90%;
}
.seventh {
  opacity: 88%;
}

/* .btn:hover {
  color: rgb(187, 170, 14);
} */

.answer-text {
  background-color: white;
  padding: 0 15px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* justify-content: center; */
  height: 0;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  border: 1px solid #073914;
  border-radius: 0 0 9px 9px;
  /* text-align: center; */
}

.question-block.active-question .answer-text {
  height: 100%;
  padding: 15px;
  text-align: start;
}

.active-question {
  display: block;
}

.question-block {
  margin-bottom: 40px;
}

.camp {
  font-size: 14px;
  max-height: calc(100vh - 210px);
}
.question-block.active-question .camp {
  /* height: 230px; */
  height: 100%;
}

.consultation {
  max-width: 500px;
  width: 100%;
}

/* styleing footer */

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  /* padding: 10px 40px 30px 40px; */
  max-width: 1440px;
  height: 100%;
  position: relative;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #5a9e7c;
}

.bottom-footer {
  width: 100%;
  /* height: 20px; */
  text-align: center;
  /* background-color: #066448; */
  /* background: rgb(20, 59, 33);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(20, 59, 33, 1)),
    color-stop(37%, rgba(16, 72, 45, 1)),
    color-stop(51%, rgba(13, 79, 52, 1)),
    color-stop(80%, rgba(6, 100, 72, 1))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(20, 59, 33, 1) 0%,
    rgba(16, 72, 45, 1) 37%,
    rgba(13, 79, 52, 1) 51%,
    rgba(6, 100, 72, 1) 80%
  );
  background: linear-gradient(
    0deg,
    rgba(20, 59, 33, 1) 0%,
    rgba(16, 72, 45, 1) 37%,
    rgba(13, 79, 52, 1) 51%,
    rgba(6, 100, 72, 1) 80%
  ); */

  padding: 3px;
  background-color: white;
  /* margin-top: 10px; */
  /* position: fixed; */
  bottom: 0;
  overflow: hidden;
}

.ftr-bottom-text {
  color: black;
  font-size: 12px;
  padding: 12px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* gap: 15px; */
}

.ftr-icon {
  color: #eef1dd;
  font-size: 25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ftr-icon:hover {
  opacity: 50%;
}

.ftr-icon-block {
  /* background-color: #066448; */
  background-color: #6a5251f3;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ftr-left-block {
  background-color: white;
  /* max-width: 356px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 150px;
  /* padding-top: 24px;
  padding-bottom: 60px; */
  /* height: 244px; */
  position: absolute;
  top: 0;
  right: 70%;
  bottom: 0;
}
.ftr-right-block {
  background-color: #5a9e7c;
  padding-top: 24px;
  /* padding-bottom: 60px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer-p {
  color: #eef1dd;
  font-size: 12px;
  font-weight: lighter;
}

.ftr-title {
  color: #eef1dd;
  font-size: 16px;
  text-transform: uppercase;
}

.logo-footer {
  width: 120x;
  height: 120px;
}
.footer-title {
  font-size: 24px;
  letter-spacing: 5px;
  color: #eef1dd;
}

.contact-word {
  color: white;
  font-size: 14px;
  line-height: 19px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin-bottom: 49px;
}

.fa-regular {
  color: #066448;
}

.fa-phone {
  color: #066448;
}

.fa-location-dot {
  color: #066448;
}

.first-section {
  width: 100%;
}

section {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* contact  page styles*/

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  margin-bottom: 100px;
}
.adress-info {
  width: 100%;
  border-radius: 12px;
  /* background-color: #eef1dd; */
  padding: 20px;
}

.adress-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* max-width: 500px;
  width: 100%; */
}

.adress-li {
  margin-bottom: 15px;
  font-size: 14px;
  color: #5e5850;
}
.adrees-link {
  font-size: 14px;
  /* color: #343a40; */
}
.fa-facebook-f {
  color: #073914;
}
.fb-link {
  /* border-bottom: 1px solid #073914; */
  color: #5e5850;
}

/* galeriis satetsto */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* article/photo/video page styles */

.new-container {
  padding-top: 30px;
  margin-bottom: 500px;
}
/* photo page styles */

.img-gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.img-gallery img:hover {
  -webkit-transform: scale(0.8) rotate(-15deg);
  -ms-transform: scale(0.8) rotate(-15deg);
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  -webkit-box-shadow: 0 32x 7px black;
  box-shadow: 0 32x 7px black;
}

.full-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.full-img img {
  width: 90%;
  max-width: 500px;
}
.full-img .close {
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* photo page - slider */

div.gallery {
  margin: 5px;
  border: 1px solid rgb(232, 227, 227);
  float: left;
  width: 180px;
  box-shadow: 0px 1px 10px rgb(45, 43, 43);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Preeschool Gallery styles */
.preschool-image {
  max-width: 200px;
  width: 100%;
  border-radius: 9px;
}
.preschool-image:hover {
  border: 2px solid #6ec197;
}
.preschool-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  height: 350px;
  background-color: #5a9e7c;
  border-radius: 9px;
  /* box-shadow: 0px 1px 10px rgb(45, 43, 43); */
}
.preschool-a {
  color: white;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.preschool-a:hover {
  font-weight: bold;
}
.preschool-div:hover {
  border: 2px solid #6ec197;
}

/* Preschool gallery styles */
.section-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.gallery-a {
  font-size: 20px;
  color: #073914;
  font-style: italic;
  border-bottom: 2px solid #073914;
}

/* article page styles */
.article-image {
  max-width: 200px;
  width: 100%;
  height: 250px;
  border-radius: 9px;
}
.article-div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.article-a {
  font-size: 14px;
  color: #5e5850;
  max-width: 250px;
  width: 100%;
  text-align: center;
  line-height: 22px;
  padding-bottom: 2px;
  text-decoration: underline;
}
.customScroll {
  overflow: auto;
  padding: 4px;
}

.customScroll::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.customScroll::-webkit-scrollbar-track {
  background: transparent;
  padding-left: 12px;
  padding-right: 12px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: rgba(158, 155, 155, 0.88);
  border-radius: 80px;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background: rgba(158, 155, 155, 0.88);
}
.logo-mob {
  display: none;
}
