/* styling nav bar */
body {
  background-color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #343a40;
}
.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
/* Navigation Bar styles */

header {
  position: sticky;
  top: 0;
  z-index: 250;
}
.header-block {
  display: flex;
  align-items: center;
  background: rgb(20, 59, 33);
  background: linear-gradient(
    0deg,
    rgba(20, 59, 33, 1) 0%,
    rgba(16, 72, 45, 1) 37%,
    rgba(13, 79, 52, 1) 51%,
    rgba(6, 100, 72, 1) 80%
  );
}
.nav-block {
  /* max-width: 1000px; */
  width: 100%;
  padding: 0 15px;
  /* padding-left: 200px; */
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-title {
  color: white;
  font-size: 22px;
  width: 130px;
}

.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* margin-right: 200px; */
  margin-left: 20px;
  transition: 0.5s linear;
}
.logo-img:hover {
  transform: scale(1.1);
}

.nav-a {
  font-size: 20px;
  /* color: rgb(228, 228, 156); */
  color: #eef1dd;
  font-weight: bolder;
  padding: 10px;
  letter-spacing: 1px;
  transition: 0.5s linear;
}
.active {
  border-right: 1px solid rgb(213, 213, 26);
  border-bottom: 1px solid rgb(213, 213, 26);
  border-bottom-right-radius: 12px;
}
.nav-a:hover {
  color: rgb(187, 170, 14);
}

/* Page - main page styles */

/* Maain - text - box - brief information about organisation */

.main-text {
  margin-bottom: 30px;
  font-size: 18px;
  color: #1f232b;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-style: italic;
}
.main-text-box {
  /* max-width: 550px; */
  width: 100%;
}

/* slider styles */
.swiper {
  /* max-width: 400px; */
  max-width: 850px;
  height: 450px;
  /* background-color: #eef1dd; */
  background-color: #cad1cc;
  width: 100%;
  /* height: 500px; */
  margin-bottom: 100px;
  border-radius: 12px;
  box-shadow: 5px 20px 30px 0px rgba(54, 57, 55, 0.368);
}
.swiper-slide {
  display: flex;
  align-items: center;
  /* font-size: 22px; */
  justify-content: center;
  margin-top: 35px;
}
.main-section {
  display: flex;
  gap: 50px;
}
.slider-block {
  width: 800px;
  height: 400px;
  background-color: #073914;
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  color: #343a40;
  border-radius: 12px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 15px; */
  padding-bottom: 15px;
  padding-top: 10px;
  cursor: pointer;
}
.slider-img {
  width: 700px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.5s;
}

/* friquently asked questions */
.question-btn {
  width: 900px;
  /* width: 100%; */
  height: 100%;
  border: none;
  border-bottom: 2px solid #073914;
  border-right: 2px solid #073914;
  border-radius: 9px;
  cursor: pointer;
  color: #073914;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 1px;
  /* box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914,
    2px 4px 8px 0px #073914, 2px 4px 16px 0px #073914; */
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914;
  position: relative;
  text-align: left;
  font-style: italic;
}

.fa-angle-down {
  position: absolute;
  right: 10px;
  font-size: 20px;
}

.answer-box {
  background-color: #073914;
  color: #eef1dd;
  padding: 0 15px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 0;
  /* transition: 0.5s ease-out; */
  transition: 0.5s linear;
  border: 1px solid #eef1dd;
  border-radius: 9px;
  margin-bottom: 10px;
  text-align: left;
}
/* .question-box */
.active-question .answer-box {
  height: 100%;
  padding: 20px;
  text-align: start;
}

.active-question {
  display: block;
}

.bellow-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.link {
  color: white;
  margin-left: 10px;
  border-bottom: 1px solid white;
  font-style: italic;
}

/* Second page - about us */

/* question about organisation plans and aims*/
.question {
  font-size: 22px;
  color: #073914;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 30px;
  padding: 5px;
  border-bottom: 1px solid #073914;
  width: 450px;
  margin-top: 50px;
}
h2.question:nth-child(1) {
  margin-top: 100px;
}
.question-answer {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 800px;
  width: 100%;
  line-height: 20px;
}

/* our-vision style */
.our-vision {
  margin-bottom: 12px;
  font-size: 16px;
}
.vision-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: italic;
}
.fa-heart {
  color: #073914;
  margin-right: 10px;
}
/* team members */

.team {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.person {
  /* background-color: #eef1dd85; */
  background-color: #cad1cc;
  box-shadow: 5px 20px 30px 0px rgba(54, 57, 55, 0.368);
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  transition: 0.5s;
}

.person-img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  transition: 0.5s;
  margin-bottom: 10px;
}
.person-img:hover {
  /* width: 155px;
  height: 155px; */
  transform: scale(1.2);
}
.name {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
  color: #073914;
}

.person-name {
  font-size: 14px;
  text-align: center;
  color: #073914;
  /* background-color: #eef1dd; */
  background-color: #cad1cc;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 9px;
  border: 1px solid #073914;
  cursor: pointer;
  width: 100px;
  padding: 3px;
  transition: 0.3s;
}

.person-name:hover {
  color: #eef1dd;
  background: #073914;
  border: 1px solid #eef1dd;
}
.person-profession {
  font-size: 14px;
  color: #1f232b;
  margin-bottom: 10px;
  font-weight: lighter;
  margin-top: 20px;
}
.person-title {
  max-width: 400px;
  width: 100%;
}
.person-span {
  width: 100px;
  height: 1px;
  background-color: #066448;
  margin-bottom: 10px;
}
.person-text {
  color: #343a40;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
}

/* აქ ვტესტავ modal-window  */

.modal-window {
  max-width: 700px;
  width: 100%;
  height: 650px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  /* background-color: #eef1dd; */
  background-color: #cad1cc;
  border: 1px solid #073914;
  position: fixed;
  /* left: 0; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 900;
  display: none;
}

.uska-modal {
  display: none;
}
.nino-modal {
  display: none;
}
.salome-modal {
  display: none;
}

.person-bio {
  color: #073914;
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
}
.fa-circle-xmark {
  position: fixed;
  color: #073914;
  font-size: 22px;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
.fa-circle-xmark:hover {
  color: black;
}

/* active-window - mondal-window- team members  */
.overlay {
  background-color: #343a40ad;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.modal-window {
  padding: 20px 15px;
  box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914,
    2px 4px 8px 0px #073914, 2px 4px 16px 0px #073914;
}
.image-box {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  /* justify-content: space-between; */
}
.modal-img {
  border-radius: 9px;
  object-fit: cover;
  width: 120px;
  height: 120px;
  box-shadow: 0px 1px 2px 0px #525355, 1px 2px 4px 0px #545855,
    2px 4px 8px 0px #4a504b, 2px 4px 16px 0px #525854;
  /* box-shadow: 0px 1px 2px 0px #073914, 1px 2px 4px 0px #073914,
    2px 4px 8px 0px #073914, 2px 4px 16px 0px #073914; */
}

.personal-ul {
  margin-top: 10px;
}
.person-li {
  margin-bottom: 5px;
  font-size: 12px;
  color: #1f232b;
  line-height: 18px;
  font-style: italic;
}

.person-experience {
  font-size: 14px;
  font-style: italic;
  color: #073914;
  border-bottom: 1px solid #073914;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

/* Pages 3 - our services */
/* service page styleing */

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  margin-top: 100px;
}

.service-block {
  background-color: #073914;
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  color: #343a40;
  border-radius: 12px;
  margin-bottom: 60px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 15px; */
  padding-bottom: 15px;
  padding-top: 10px;
  cursor: pointer;
}
.service-img {
  /* width: 300px;
  height: 250px; */
  width: 250px;
  /* width: 100%; */
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.5s;
}
.service-img:hover {
  opacity: 80%;
}
.service-block:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  transition-duration: 1s;
}

.service-title {
  color: #eef1dd;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 5px;
}
.service-title:hover {
  color: rgb(187, 170, 14);
}

/* styleing section-1 */

/* service-1 page */

.registration-btn {
  /* 
  background-color: #cad1cc; */
  border-radius: 12px;
  color: #073914;
  border: 1px solid #073914;
  opacity: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s linear;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
}
.registration-btn:hover {
  background-color: #073914;
  color: #eef1dd;
}
.const-btn {
  max-width: 250px;
  width: 100%;
  padding: 5px;
}
.main-title {
  font-size: 24px;
  font-weight: bolder;
  color: #073914;
  margin-bottom: 50px;
  border-bottom: 2px solid #073914;
  padding: 10px;
  text-align: center;
  font-style: italic;
  margin-top: 50px;
  letter-spacing: 1px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
.service1-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.service1-text {
  /* background-color: #eef1dd; */
  background-color: #cad1cc;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  max-width: 400px;
  width: 100%;
  height: 600px;
}
.service1-title {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 30px;
  border-bottom: 1px solid #073914;
  padding-bottom: 10px;
  text-align: center;
}
.fa-arrow-down {
  font-size: 22px;
  position: absolute;
  right: 5px;
  margin-left: 5px;
}

.service1-li {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 15px;
}
.service1-ul1 {
  margin-bottom: 10px;
}

.fa-circle-check {
  margin-right: 15px;
  color: #073914;
  margin-left: 30px;
  font-size: smaller;
}
.fa-circle {
  margin-right: 15px;
  color: #073914;
  font-size: smaller;
}

/* service 4 - meeting in the circle */
.circle-answer {
  margin-bottom: 15px;
  max-width: 500px;
  width: 100%;
  font-size: 16px;
}

.circle-question {
  font-size: 18px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: bold;
}

/* accordeon styles for sevice pages */

.btn {
  position: relative;
  background-color: #073914;
  max-width: 400px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 9px 9px 0 0;
  padding: 10px 0;
  transition: 0.4s;
}

.first {
  opacity: 100%;
}

.second {
  opacity: 98%;
}

.third {
  opacity: 96%;
}
.forth {
  opacity: 94%;
}
.fifth {
  opacity: 92%;
}
.sixth {
  opacity: 90%;
}
.seventh {
  opacity: 88%;
}

.btn:hover {
  color: rgb(187, 170, 14);
}

.answer-text {
  background-color: white;
  padding: 0 15px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 0;
  transition: 0.5s linear;
  border: 1px solid #073914;
  border-radius: 0 0 9px 9px;
  /* text-align: center; */
}

.question-block.active-question .answer-text {
  height: 100%;
  padding: 15px;
  text-align: start;
}

.active-question {
  display: block;
}

.question-block {
  margin-bottom: 40px;
}

.camp {
  font-size: 14px;
  max-height: calc(100vh - 210px);
}
.question-block.active-question .camp {
  /* height: 230px; */
  height: 100%;
}

.consultation {
  max-width: 500px;
  width: 100%;
}

/* styleing footer */

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px 30px 40px;
  background-color: #1f232b;
  /* position: fixed; */
  bottom: 0;
}

.bottom-footer {
  width: 100%;
  height: 20px;
  text-align: center;
  /* background-color: #066448; */
  background: rgb(20, 59, 33);
  background: linear-gradient(
    0deg,
    rgba(20, 59, 33, 1) 0%,
    rgba(16, 72, 45, 1) 37%,
    rgba(13, 79, 52, 1) 51%,
    rgba(6, 100, 72, 1) 80%
  );
  padding: 5px;
  /* margin-top: 10px; */
  /* position: fixed; */
  bottom: 0;
  overflow: hidden;
}

.ftr-bottom-text {
  color: #eef1dd;
  font-size: 12px;
}

.icons {
  display: flex;
  justify-content: space-between;
  /* gap: 15px; */
}

.ftr-icon {
  color: #eef1dd;
  font-size: 25px;
  transition: 0.5s;
}
.ftr-icon:hover {
  opacity: 50%;
}

.ftr-icon-block {
  background-color: #066448;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-p {
  color: #eef1dd;
  font-size: 12px;
  font-weight: lighter;
}

.ftr-title {
  color: #eef1dd;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
.contact-title {
  padding: 5px;
  border-bottom: 2px solid #066448;
}

.logo-footer {
  width: 120x;
  height: 120px;
}
.footer-title {
  font-size: 24px;
  letter-spacing: 5px;
  color: #eef1dd;
}

.contact-word {
  color: #eef1dd;
  font-size: 12px;
}

.contact-icons {
  display: flex;
  gap: 14px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fa-regular {
  color: #066448;
}

.fa-phone {
  color: #066448;
}

.fa-location-dot {
  color: #066448;
}

.first-section {
  width: 100%;
}

section {
  flex-grow: 1;
}

/* contact  page styles*/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  margin-bottom: 100px;
}
.adress-info {
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  /* background-color: #eef1dd; */
  background-color: #cad1cc;
  padding: 20px;
}

.adress-block {
  display: flex;
  justify-content: space-between;
  /* max-width: 500px;
  width: 100%; */
}

.adress-li {
  margin-bottom: 15px;
  font-size: 18px;
  color: #073914;
}
.adrees-link {
  font-size: 18px;
  color: #343a40;
}
.fa-facebook-f {
  color: #073914;
}
.fb-link {
  border-bottom: 1px solid #073914;
  color: #073914;
}

/* galeriis satetsto */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* photo page styles */

.img-gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.img-gallery img:hover {
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32x 7px black;
}

.full-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.full-img img {
  width: 90%;
  max-width: 500px;
}
.full-img .close {
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
